SIM_ADDR=:8082
WEKNORA_BASE_URL=http://localhost:8080
WEKNORA_FRONTEND_URL=http://localhost:5173
WEKNORA_PLATFORM_KEY=<platform key with system_identity_bridge>
PORTAL_DB_DSN=host=localhost port=5432 user=postgres password=*** dbname=portal_proxy sslmode=disable
